<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='/static/bootstrap/css/bootstrap.min.css' rel="stylesheet" media="screen">
    <link href='/static/bootstrap/css/bootstrap-theme.min.css' rel="stylesheet" media="screen">
    <script src='/static/js/jQuery/jquery.min.js'></script>
    <script src='/static/bootstrap/js/bootstrap.min.js'></script> 
    <title>{% block head_title %}{% endblock %}</title> 
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
