{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block nav %} 
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/accounts/login">Sign in</a></li>
    <li><a href="/accounts/signup">Sign up</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
{% endblock %}

{% block jumbotron %}
  <center>
    <h2>{% trans "Change Password" %}</h2>
    <p>{% trans 'Your password is now changed.' %}</p>
  </center>  
{% endblock %}
