{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block nav %} 
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/accounts/login">Sign in</a></li>
    <li><a href="/accounts/signup">Sign up</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
{% endblock %}

{% block jumbotron %}
  <center>
    <h2>{% trans "Password Reset" %}</h2>
    <div class="well">
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
  </center>
{% endblock %}
