{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block nav %} 
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li  class="active"><a href="/accounts/login">Sign in</a></li>
    <li><a href="/accounts/signup">Sign up</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
{% endblock %}
{% block jumbotron %}
  <center>
    <h2>{% trans "Sign In" %}</h2>
    <div class="well">
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          <div class="login-or">{% trans 'or' %}</div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}
        <p> <font size = 3>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</font></p>
      {% endif %}
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>{{ form.login.errors }}
        {{ form.login }}
        <p>{{ form.password.errors }}
        {{ form.password }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <p><button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        <p><a href="{% url 'account_reset_password' %}" style="font-size:15px">{% trans "Forgot Password?" %}</a>
      </form>
    </div>
  </center>
{% endblock %}
