{% extends "account/base.html" %} 

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block nav %}
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">Settings  <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      </ul>
    </li>
  </ul>
{% endblock %}

{% block jumbotron %}
  <center>
    <h2>{% trans "Change Password" %}</h2>
    <div class="well">
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.non_fiel_errors }}
        <p>{{ form.oldpassword.errors }}
        {{ form.oldpassword }}</p>
        <p>{{ form.password1.errors }}
        {{ form.password1 }}</p>
        <p>{{ form.password2.errors }}
        {{ form.password2 }}</p>
        <p><button class = "btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button></p>
      </form>
    </div>
  </center>

{% endblock %}