{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block nav %} 
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/accounts/login">Sign in</a></li>
        <li><a href="/accounts/signup">Sign up</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
{% endblock %}

{% block jumbotron %}
    <center>
        <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
        <div class="well">
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class = "btn btn-primary" name="action" value="{% trans 'Change Password' %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </center>
{% endblock %}