{% extends "account/base.html" %}

{% load i18n %}
{% load account %}


{% block head_title %}{% trans "Read More" %}{% endblock %}
{% block nav %} 
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/accounts/login">Sign in</a></li>
    <li><a href="/accounts/signup">Sign up</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
{% endblock %}
	
{% block jumbotron %}
  <center>
    <h2>The <img src="/static/images/logotipo.png" width="150" height="40"/> Web application will allow users to</h2>
    <div class="container">
      <p></p>
      <div class="panel panel-primary">
        <div class="panel-heading">Datasets</div>
  	<div class="panel-body">Upload and store datasets of genetic expression</div>
      </div>
      <p></p>
      <div class="panel panel-success">
        <div class="panel-heading">Download results of filters</div>
  	<div class="panel-body">Download data sets or parts of sets resulting from the application of filters</div>
      </div>
      <p></p>
      <div class="panel panel-primary">
        <div class="panel-heading">Visualization</div>
  	<div class="panel-body">Conduct exploratory analysis on data through interactive visualizations</div>
      </div>
      <p></p>
      <div class="panel panel-success">
        <div class="panel-heading">Shared results</div>
  	<div class="panel-body">Share with other users the results of the analyzes, as well as the filters applied to the data</div>
      </div>
    </div>
  </center>
  
{% endblock %}


