{% extends "account/base.html" %}

{% load i18n %}
{% load account %}


{% block head_title %}{% trans "Read More" %}{% endblock %}
{% block nav %} 
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/accounts/login">Sign in</a></li>
    <li><a href="/accounts/signup">Sign up</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
{% endblock %}
	
{% block jumbotron %}
  <center>
    <h2>The GenResearch Platform web application will allow users to</h2>
    <div class="well">
      <ul class="list-group">
        <li class="list-group-item">Upload and store datasets of genetic expression</li>
        <li class="list-group-item">Download data sets or parts of sets resulting from the application of filters</li>
        <li class="list-group-item">Conduct exploratory analysis on data through interactive visualizations</li>
        <li class="list-group-item">Share with other users the results of the analyzes, as well as the filters applied to the data</li>
      </ul>
    </div>
  </center>
  
{% endblock %}


